@use '../utils';

input, button, a, textarea {
    outline: 0;
    background-color: var(--primary-background);
    color: var(--primary-text-color);

    &::-moz-focus-inner {
        border: 0;
    }

    &:disabled {
        background-color: var(--secondary-background);
        color: var(--secondary-text-color);
    }
}

.button {
    @include utils.radius;
    background-color: var(--tertiary-background);
    border: solid 1px var(--border-color);
    line-height: 2rem;
    padding: 0 1rem;
    font-size: 1rem;
    margin: 0 0.2rem;
    touch-action: manipulation;

    &:hover {
        background-color: var(--tertiary-hover-background);
    }

    &:active, &:focus {
        background-color: var(--secondary-background);
    }

    &.active {
        background-color: var(--primary-background);
        font-weight: bold;
        color: var(--theme-color);

        &:hover, &:active, &:focus {
            background-color: var(--primary-hover-background);
        }
    }

    &:disabled {
        background-color: var(--secondary-background);
        color: var(--secondary-text-color);
    }
}

.button-group {
    .button:not(:last-child) {
        margin-right: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .button:not(:first-child) {
        margin-left: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: none;
    }
}
