@use '../utils';

.info-bar {
    @include utils.prevent-user-select();

    position: absolute;
    right: calc(-100% + 4rem);
    top: 3rem;
    bottom: 2rem;
    width: calc(100% - 4rem);
    z-index: 1;
    border-left: solid 1px var(--border-color);
    transition: right 200ms;
    background-color: var(--secondary-background);
    overflow: hidden;

    &.active {
        right: 0;

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 4rem;
            height: 100%;
            top: 0;
            left: -4rem;
        }
    }
}

@include utils.desktop {
    .info-bar {
        right: -21rem;
        width: 20rem;

        &.active {
            &::after {
                right: 0;
                content: none;
            }
        }
    }
}

.info-bar-content {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;

    textarea {
        width: 100%;
        height: 100%;
        resize: none;
        border: none;
        outline: none;
        margin: 0;
        padding: 0.2rem;
    }
}

.info-bar-header {
    height: 3rem;
    width: 100%;
    border-bottom: solid 1px var(--border-color);
    position: absolute;

    .button-group {
        display: flex;
        margin: 0 0.5rem;
        align-items: center;
        align-content: center;
        height: 3rem;

        .button {
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0;
            height: 2.1rem;
            vertical-align: middle;
        }
    }

    &:empty {
        display: none;

        & ~ .info-bar-content {
            top: 0;
        }
    }
}
.traverser-bar-header {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: solid 1px var(--border-color);
}

.traverser-bar-body {
    position: absolute;
    top: 3rem;
    bottom: 10rem;
    left:0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.traverser-bar-footer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 10rem;
    border-top: solid 1px var(--border-color);
}

.traverser-entry-view {
    padding: 0.5rem;

    &:not(:last-child) {
        border-bottom: solid 1px var(--border-color);
    }

    &:hover {
        background-color: var(--secondary-hover-background);
    }

    &.selected {
        background-color: var(--primary-background);

        &:hover {
            background-color: var(--primary-hover-background);
        }
    }

    .box-view {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }

    .bullet-list:empty {
        margin: 0;
    }
}

.traverser-characteristic-view {
    display: inline-block;
    width:1rem;
    height: 1rem;
    margin: 0.2rem;
}

.traverser-bar-trail {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: solid 1px var(--border-color);
}
