@use '../utils';

.tool-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    line-height: 2.9rem;
    z-index: 1;
    border-bottom: solid 1px var(--border-color);
    user-select: none;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0.5rem;
    display: flex;
    overscroll-behavior: contain;

    div {
        display: inline-block;
    }
}

.tool-bar-center {
    flex-grow: 1;
    text-align: center;
}

@include utils.desktop {
    .tool-bar {
        left: 20rem;

        .menu {
            display: none;
        }
    }
}
