.idea/*
*.iml
*.log
/*.svg
/*.png
**/target/*
**/out/*
**/build/*
magic_draw/*
.gradle/*
robolab.conf
export/*
web/website/
webServer/
node_modules/
.lck
planet/*.exam
planet/*.exam.*
npm-debug.log
auth/*
!auth/roles.default.txt
