.idea/*
*.iml
*.log
/*.svg
/*.png
**/target/*
**/out/*
**/build/*
magic_draw/*
.gradle/*
robolab.conf
export/*
node_modules/
.lck
planet/*.exam
planet/*.exam.*
npm-debug.log
*.db
deploy.sh
redis-data/
.DS_Store
._.DS_Store
webpack.config.d/build.js
webpack.config.d/target.js

# It makes the project dirty
.npmignore
