@use '../utils';

input, button, textarea, select {
  outline: none;
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.9em;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:disabled {
    background-color: var(--secondary-background);
    color: var(--secondary-text-color);
  }
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--primary-text-color);
}

input::placeholder {
  color: var(--secondary-text-color);
  opacity: 1;
}

.button {
  @include utils.radius;
  background-color: var(--secondary-background);
  border: solid 1px var(--secondary-background);
  line-height: 2rem;
  height: 2.2rem;
  padding: 0 0.6rem;
  font-size: 1rem;
  margin: 0 0.2rem;
  touch-action: manipulation;

  &:hover {
    background-color: var(--tertiary-background);
    border-color: var(--tertiary-background);
  }

  &.active {
    background-color: var(--primary-background);
    font-weight: bold;
    color: var(--theme-color);

    &:hover, &:active, &:focus {
      background-color: var(--primary-hover-background);
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button-group {
  white-space: nowrap;

  .button:not(:last-child), .input-view:not(:last-child), .select-view:not(:last-child) {
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-style: none;
    padding-right: 0.3rem
  }

  .button:not(:first-child), .input-view:not(:first-child), .select-view:not(:first-child) {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 0.3rem
  }

  .button:active, .button:focus, .input-view:active, .input-view:focus, .select-view:active, .select-view:focus {
    border-right-style: solid;

    & + .button, & + .input-view, & + .select-view  {
      border-left-style: none;
    }
  }

  & ~ .button-group {
    margin-left: 0.3rem;
  }
}

.button-form-group {
  .button {
    background-color: var(--secondary-background);
    border-color: var(--border-color);
    height: 2rem;

    &:hover {
      background-color: var(--secondary-hover-background);
      border-color: var(--border-color);
    }
  }
}

.input-view, .select-view {
  @include utils.radius();

  border: solid 1px var(--border-color);
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  padding: 0 1rem;
  transition: background-color 200ms, border-color 200ms;
  height: 2rem;

  &:hover {
    background-color: var(--primary-hover-background);
  }

  &:focus {
    border-color: var(--theme-color);
  }
}

select {
  background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") 100% 5px no-repeat, var(--border-color);
  background-blend-mode: difference;
}

.checkbox {
  display: none;
}

.label {
  display: block;
  width: 3em;
  height: 2em;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0.64em;
    margin-top: -0.32em;
    border-radius: 0.32em;
    width: 2em;
    margin-left: -1em;
    background-color: var(--secondary-text-color);
    opacity: 0.6;
    transition: background-color 200ms;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    margin-top: -0.5em;
    border-radius: 0.5em;
    width: 1em;
    margin-left: -1em;
    background-color: var(--secondary-text-color);
    transition: background-color 200ms, margin-left 200ms;
  }
}

.checkbox:checked ~ .label {
  &:before {
    background-color: var(--theme-color);
  }

  &:after {
    margin-left: 0;
    background-color: var(--theme-color);
  }
}

.checkbox:focus ~ .label {
  @include utils.radius();
  border: solid 1px var(--border-color);
}