@use '../utils';

.main-canvas {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 2rem;
  z-index: 0;
  overflow: hidden;
  touch-action: manipulation;

  canvas {
    width: 100%;
    height: 100%;

    image-rendering:optimizeSpeed;             /* Legal fallback */
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
  }

  .resize-view {
    position: absolute;
    width: 0.8rem;
    height: 100%;
    top: 0;
    cursor: col-resize;
    opacity: 0.5;
  }
}

.navigation-bar-resize {
  left: 0;
}

.info-bar-resize {
  right: 0;
}

@include utils.desktop {
  .main-canvas {
    &.navigation-bar-active {
      left: var(--navigation-bar-width);
    }

    &.info-bar-active {
      right: var(--info-bar-width);
    }
  }
}
