@use '../utils';

.navigation-bar {
  @include utils.prevent-user-select();

  position: absolute;
  left: calc(-100% + 4rem);
  top: 0;
  bottom: 0;
  width: calc(100% - 4rem);
  z-index: 2;
  border-right: solid 1px var(--border-color);
  background-color: var(--secondary-background);

  &.active {
    left: 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 4rem;
      height: 100%;
      top: 0;
      left: 100%;
    }
  }
}

@include utils.desktop {
  .navigation-bar {
    left: -(var(--navigation-bar-width));
    width: var(--navigation-bar-width);

    &.active {
      left: 0;

      &::after {
        content: none;
      }
    }
  }
}

.navigation-bar-header {
  line-height: 2.8rem;
  height: 3rem;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-bottom: solid 1px var(--border-color);

  .button-group {
    display: flex;
    margin: 0 0.5rem;
    align-items: center;
    align-content: center;
    height: 3rem;

    .button {
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0;
      height: 2.1rem;
      vertical-align: middle;
    }
  }
}

.navigation-bar-content {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  bottom: calc(2rem - 1px);
  overflow-y: auto;
  overscroll-behavior: contain;
}

.navigation-bar-footer {
  @include utils.prevent-user-select();

  height: 2rem;
  line-height: 1.9rem;
  border-top: solid 1px var(--border-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 1rem;

  &.success {
    background-color: var(--success-color);
    color: var(--success-text-color);
  }

  &.warn {
    background-color: var(--warn-color);
    color: var(--warn-text-color);
  }

  &.error {
    background-color: var(--error-color);
    color: var(--error-text-color);
  }

  .text-view:nth-child(1) {
  }

  .text-view:nth-child(2) {
    float: right;
    text-decoration: underline;
  }
}

.navigation-bar-group-head {
  padding: 0.8rem 1rem;
  border-bottom: solid 1px var(--border-color);
  position: relative;
  display: none;
  align-items: center;
  z-index: 1;

  .text-view {
    font-weight: bold;
    display: block;
    margin-left: 0.5rem;
  }

  &:hover {
    background-color: var(--secondary-hover-background);
  }

  &.active {
    display: flex;
  }
}

.navigation-bar-entry {
  padding: 0.8rem 1rem;
  border-bottom: solid 1px var(--border-color);
  position: relative;
  white-space: nowrap;

  .text-view:nth-child(1) {
    font-weight: bold;
    display: block;
  }

  .text-view:nth-child(2) {
    display: block;
    font-size: 0.8rem;
  }

  .box-view {
    position: absolute;
    top: 50%;
    right: 1rem;
    line-height: 2rem;
    margin-top: -1rem;

    .icon-view {
      display: inline-block;
    }
  }

  &:hover {
    background-color: var(--secondary-hover-background);
  }

  &.active {
    background-color: var(--primary-background);
    color: var(--theme-color);

    &:hover {
      background-color: var(--primary-hover-background);
    }
  }

  &.disabled {
    color: var(--secondary-text-color)
  }
}

.navigation-bar-empty {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  bottom: 0;
  display: none;
  align-content: center;
  align-items: center;

  .text-view {
    flex-grow: 1;
    text-align: center;
  }
}

.navigation-bar-list:empty ~ .navigation-bar-empty {
  display: flex;
}

.navigation-bar-search {
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  align-content: center;
  height: 3rem;
  border-bottom: solid 1px var(--border-color);
  position: relative;

  .input-view {
    flex-grow: 1;
    padding-right: 2rem;

    &:placeholder-shown ~ .icon-view {
      display: none;
    }
  }

  .input-view ~ .icon-view {
    position: absolute;
    top: 0;
    right: 3.5rem;
    line-height: 3rem;
    width: 2rem;
    color: var(--secondary-text-color);

    &:hover {
      color: var(--primary-text-color);
    }
  }
}

