@use '../utils';

.status-bar {
  @include utils.prevent-user-select();

  grid-area: status;

  line-height: 1.9rem;
  border-top: solid 1px var(--border-color);
  z-index: 1;
  overflow-x: auto;
  white-space: nowrap;

  .text-view {
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
    display: inline-block;
    margin-left: 0.5rem;
  }

  .connection-indicator {
    @include utils.prevent-user-select();

    height: 2rem;
    line-height: 1.9rem;
    border-right: solid 1px var(--border-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--navigation-bar-width);
    z-index: 1;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 1rem;

    &.success {
      background-color: var(--success-color);
      color: var(--success-text-color);
    }

    &.warn {
      background-color: var(--warn-color);
      color: var(--warn-text-color);
    }

    &.error {
      background-color: var(--error-color);
      color: var(--error-text-color);
    }

    .text-view {
      height: 2rem;
      line-height: 2rem;
    }

    .text-view:nth-child(1) {
      float: left;
    }

    .text-view:nth-child(2) {
      float: right;
      text-decoration: underline;
    }
  }
}

@include utils.desktop {
  .status-bar.navigation-bar-active {
    left: var(--navigation-bar-width);
  }
}
