@use '../utils';

.tab-bar {
  @include utils.prevent-user-select();

  line-height: 2.2rem;
  z-index: 1;
  border-bottom: solid 1px var(--border-color);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  overscroll-behavior: contain;
}

.tab-bar-item {
  padding: 0 1rem;
  text-align: center;
  position: relative;
  height: 100%;

  &.active {
    color: var(--theme-color);
  }
}

.tab-bar-item-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 100%;
  text-align: center;
  opacity: 0.3;
  padding-right: 0.6rem;
  color: var(--primary-text-color);

  &:hover {
    opacity: 1.0;
  }
}

.tab-bar-extra {
  display: none;
  border-right: solid 1px var(--border-color);
  float: left;

  &.active {
    display: block;
    color: var(--primary-text-color);
  }
}

.tab-bar-content {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;

  .tab-bar-item {
    flex-grow: 1;

    &:not(:last-child) {
      border-right: solid 1px var(--border-color);
    }

    &:hover {
      background-color: var(--secondary-hover-background);
    }

    &.active {
      background-color: var(--primary-background);

      &:hover {
        background-color: var(--primary-hover-background);
      }
    }
  }
}
