@use '../utils';

.dialog-area {
  @include utils.prevent-user-select();

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:empty {
    display: none;
  }
}

.dialog-area-wrapper {
  @include utils.prevent-user-select();

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  }
}

.dialog-view {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-background);
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.dialog-header {
  position: sticky;
  top: 0;
  background: var(--secondary-background);
  z-index: 1;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  border-bottom: solid 1px var(--border-color);
  white-space: nowrap;
  padding: 0 0.5rem 0 1rem;
  display: flex;
  overscroll-behavior: contain;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  .button {
    height: 2.1rem;
  }

  .box-view {
    display: flex;
  }
}

.dialog-body {
  position: relative;
  width: 100%;
}

.dialog-form-group {
  padding-bottom: 1rem;
}

.dialog-form-group-header {
  color: var(--secondary-text-color);
  padding-bottom: 0.5rem;
  padding-left: 0.2rem;
  position: sticky;
}

.dialog-form {
  padding: 1rem 0.5rem 0.5rem;
}

.dialog-form-entry {
  padding-bottom: 0.5rem;

  .text-view {
    display: block;
    padding-bottom: 0.2rem;
    padding-top: 0.5rem;
    padding-left: 0.2rem;
  }
}

.dialog-form-flex {
  display: flex;

  & > .input-view, & > .select-view {
    flex-grow: 1;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}

@include utils.desktop {
  .dialog-view {
    width: 30rem;
    max-height: 60%;
    height: max-content;
    @include utils.radius;
    border: solid 1px var(--border-color);
  }
}

.tab-view {
  position: relative;

  .tab-view-header {
    @include utils.prevent-user-select();

    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border-bottom: solid 1px var(--border-color);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    overscroll-behavior: contain;
    align-items: center;
    align-content: center;

    .text-view {
      position: relative;
      display: block;
      padding: 0 1rem;
      flex-grow: 1;

      &:hover {
        background-color: var(--secondary-hover-background);
      }

      &:not(:last-child) {
        border-right: solid 1px var(--border-color);
      }

      &.active {
        background-color: var(--primary-background);
        color: var(--theme-color);

        &:hover {
          background-color: var(--primary-hover-background);
        }
      }
    }
  }

  .tab-view-content {
    padding: 1rem 0.5rem 0.5rem;
  }
}
.dialog-hide-entry {
  .dialog-form-entry {
    display: none;
    &.active {
      display: block;
    }
  }
}

.token-popup {
  padding: 1rem;

  span {
    display: block;
    text-align: center;
  }

  span:nth-child(2) {
    padding: 1.2rem 0 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    user-select: all;
    font-family: "Roboto Mono", monospace, sans-serif;
  }

  a {
    text-decoration: none;
  }

  button {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

.download-overview {
  display: flex;

  & > .box-view {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-height: 4rem;
    }

    & > .text-view {
      display: block;
      text-align: center;
    }

    & > .box-view {
      width: 100%;

      & > .text-view {
        display: block;
        padding: 1rem 0.4rem 0.4rem;
      }

      & > .button-group {
        width: 100%;
        display: flex;

        .button {
          flex-grow: 1;
        }
      }
    }
  }
}

body[data-dark='true'] {
  .download-overview {
    .windows img {
      filter: invert(1);
    }

    .mac img {
      filter: invert(1);
    }
  }
}

.settings-dialog-body {
  padding: 0.5rem 0 1.5rem;
}
