@use '../utils';

.info-bar {
  @include utils.prevent-user-select();

  position: relative;
  z-index: 1;
  border-left: solid 1px var(--border-color);
  background-color: var(--secondary-background);
}

@include utils.mobile {
  .info-bar-active .info-bar::after {
    content: '';
    display: block;
    position: absolute;
    width: 4rem;
    height: 100%;
    top: 0;
    left: -4rem;
  }
}

.info-bar-header {
  line-height: 2.2rem;
  height: 2.2rem;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-bottom: solid 1px var(--border-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.info-bar-content {
  position: absolute;
  top: 2.2rem;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
  overscroll-behavior: contain;

  & > div {
    height: 100%;
  }

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0.2rem;
    white-space: pre;
    font-family: "Roboto Mono", sans-serif;
    overflow-x: auto;
    overflow-y: scroll;
  }
}

.traverser-bar-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: solid 1px var(--border-color);
}

.traverser-bar-body {
  position: absolute;
  top: 3rem;
  bottom: 10rem;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.traverser-bar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  border-top: solid 1px var(--border-color);
}

.traverser-entry-view {
  padding: 0.5rem;

  &:not(:last-child) {
    border-bottom: solid 1px var(--border-color);
  }

  &:hover {
    background-color: var(--secondary-hover-background);
  }

  &.selected {
    background-color: var(--primary-background);

    &:hover {
      background-color: var(--primary-hover-background);
    }
  }

  .hide-buttons {
    .button {
      display: none;
    }
  }

  .box-view {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    text-align: center;

    .text-view {
      flex-grow: 1;
      line-height: 2.2rem;
    }
  }

  .bullet-list:empty {
    margin: 0;
  }
}

.traverser-characteristic-view {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0.2rem;
}

.traverser-bar-trail {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: solid 1px var(--border-color);
}

.info-bar-group-view-header {
  padding: 0.5rem;
  min-width: 100%;

  .text-view {
    white-space: pre;
  }

  tr.empty {
    display: none;
  }
}
.info-bar-group-view-message-from {
  display: flex;
  line-height: 1.5rem;

  .text-view {
    padding-right: 0.5rem;
  }
}
.info-bar-group-view-header-text {
  padding: 1rem 0.5rem 0.2rem;
  font-weight: bold;
  display: block;
}
.info-bar-group-view > .box-view {
  padding: 0.5rem;
}
.info-bar-group-view-message {
  td:first-child {
    width: 4rem;
  }
}

.info-bar-group-view-content {
  border-collapse: collapse;
  white-space: nowrap;
  min-width: 100%;
  min-height: 100%;
  outline: none;

  thead {
    line-height: 2rem;
    background-color: var(--tertiary-background);

    th:last-child {
      text-align: left;
    }
  }

  tbody {
    tr {
      line-height: 1.8rem;

      &:hover, &:nth-child(even) {
        background-color: var(--secondary-hover-background);
      }

      &.selected {
        background-color: var(--primary-background);
        color: var(--theme-color);
        font-weight: bold;

        &:hover {
          background-color: var(--primary-hover-background);
        }
      }
    }
  }

  td, th {
    padding-right: 0.4rem;
  }
}

.text-editor-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-editor-header {
  width: 100%;
  height: 3rem;
  margin: 0;
  position: relative;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0.3rem;
}

.text-editor-container {
  width: 100%;
  margin: 0;
  top: 3rem;
  left: 0;
  bottom: 0;
  position: absolute;
}

.detail-box-json > .text-view {
  font-weight: bold;
  padding: 1.5rem 0.5rem 0.5rem;
  display: block;
}

.CodeMirror {
  width: 100%;
  height: 100%;
  background: var(--primary-background);
  font-family: "Roboto Mono", sans-serif !important;

  * {
    color: var(--primary-text-color);
    font-family: "Roboto Mono", sans-serif !important;
  }

  .cm-comment, .cm-hash {
    color: var(--editor-comment-color);
  }

  .cm-direction {
    color: var(--editor-direction-color);
    font-weight: bold;
  }

  .cm-error {
    color: var(--editor-error-color);
  }

  .cm-keyword {
    color: var(--editor-keyword-color);
    font-weight: bold;
  }

  .cm-number {
    color: var(--editor-number-color);
  }

  .cm-string {
    color: var(--editor-string-color);
  }

  .CodeMirror-activeline-background {
    background: var(--editor-selected-line-color);
  }
  .CodeMirror-scrollbar-filler {
    background-color: var(--tertiary-background);
  }
}

.exam-mode-buttons {
  display: none;

  &.active {
    display: block;
  }
}

.scroll-box-view {
  height: 100%;
  overflow: hidden;
}

.scroll-box-entry {
  overflow: auto;
}

.scroll-box-handler {
  height: 1px;
  background-color: var(--border-color);
  cursor: row-resize;
  z-index: 1;
  display: block;
  position: relative;

  &::after {
    content: "";
    height: 1rem;
    width: 100%;
    top: -0.5rem;
    left: 0;
    display: block;
    z-index: 1;
    position: absolute;
  }
}
.info-bar-group-icon {
  &.info-bar-group-client {
    font-size: 1.5rem;
    color: var(--editor-keyword-color) !important;
  }
  &.info-bar-group-server {
    font-size: 1.5rem;
    color: var(--editor-number-color) !important;
  }
  &.info-bar-group-debug {
    color: var(--secondary-text-color) !important;
  }
  &.info-bar-group-unknown {
    color: var(--error-color) !important;
  }
}