@use '../utils';

.status-bar {
  @include utils.prevent-user-select();

  line-height: 1.9rem;
  border-top: solid 1px var(--border-color);
  z-index: 1;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;

  .text-view {
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
    display: inline-block;
    margin-left: 0.5rem;
  }

  .connection-indicator {
    @include utils.prevent-user-select();

    height: 100%;
    border-right: solid 1px var(--border-color);
    width: var(--navigation-bar-width);
    min-width: 14rem;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.success {
      background-color: var(--success-color);
      color: var(--success-text-color);
    }

    &.warn {
      background-color: var(--warn-color);
      color: var(--warn-text-color);
    }

    &.error {
      background-color: var(--error-color);
      color: var(--error-text-color);
    }

    .text-view:nth-child(2) {
      text-decoration: underline;
    }
  }
}

@include utils.desktop {
  .status-bar.navigation-bar-active {
    left: var(--navigation-bar-width);
  }
}
