@use '../utils';

.terminal-view {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20rem;
  z-index: 10;
  overflow: auto;

  background: var(--primary-background);
  border-top: solid 1px var(--border-color);
}

.terminal-output {
  white-space: pre;
  font-family: "Roboto Mono", sans-serif;
  line-height: 1.1rem;

  .terminal-output-block {
    border-bottom: solid 1px var(--border-color);
    white-space: pre;
    font-family: "Roboto Mono", sans-serif;
    line-height: 1.1rem;
    padding: 0 1rem 0.5rem;

    .terminal-input-view {
      padding: 0.5rem 0;
    }

    & > span {
      display: block;
      white-space: pre;
      font-family: "Roboto Mono", sans-serif;
      line-height: 1.1rem;
      height: 1.1rem;
    }
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  52% {
    opacity: 0;
  }
}

.terminal-input-view {
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  line-height: 1.1rem;

  .terminal-input-content {
    white-space: pre;
    font-family: "Roboto Mono", sans-serif;
    display: block;

    span {
      white-space: pre;
      font-family: "Roboto Mono", sans-serif;
    }

    .node {
      color: steelblue;
    }
    .leaf {
      color: darkcyan;
    }
    .parameter {
      color: green;
    }
    .error {
      color: indianred;
    }
    .cursor {
      content: "";
      border-left: solid 1px var(--primary-text-color);
      margin-left: -0.5px;
      margin-right: -0.5px;
      display: none;

      animation: cursor-blink 0.8s step-end infinite;
    }
    .hidden {
      display: none;
    }
  }

  &:focus:not(.readonly) .cursor {
    display: inline;
  }

  .terminal-input-prefix {
    white-space: pre;
    font-family: "Roboto Mono", sans-serif;
    display: block;
  }

  .terminal-input-suffix {
    white-space: pre;
    font-family: "Roboto Mono", sans-serif;
    display: block;
    color: var(--tertiary-background)
  }

  &.readonly .terminal-input-suffix {
    display: none;
  }
}
