@use '../utils';

.tool-bar {
  @include utils.prevent-user-select();

  line-height: 3rem;
  z-index: 1;
  border-bottom: solid 1px var(--border-color);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 0.5rem;
  display: flex;
  overscroll-behavior: contain;

  div {
    display: flex;
    align-items: center;
    align-content: center;
    height: 3rem;
  }

  .button {
    height: 2.1rem;
  }
}

.tool-bar-center {
  flex-grow: 1;
  text-align: center;
  padding: 0 2rem;
  font-weight: bold;
}
