@import 'theme_utils';

$_primary-background: #FBFBFB;
$_primary-hover-background: #FFFFFF;

$_secondary-background: #EEEEEE;
$_secondary-hover-background: #F5F5F5;

$_tertiary-background: #E0E0E0;
$_tertiary-hover-background: #E9E9E9;

$_primary-text-color: #333333;
$_secondary-text-color: #888;

$_theme-color: #c0392b;
$_theme-text: #FFFFFF;

$_border-color: #D0D0D0;

$_success-color: #2ecc71;
$_success-text-color: #FFFFFF;

$_warn-color: #f1c40f;
$_warn-text-color: #FFFFFF;

$_error-color: #e74c3c;
$_error-text-color: #FFFFFF;

body {
    @include load-color-vars();
}
