[Unit]
Description=Robolab renderer server.

[Service]
Type=exec
Restart=always
User=deploy
ExecStart=nodemon packages/robolab-jsServer/kotlin/robolab-jsServer.js -c ../robolab-renderer-server.ini
WorkingDirectory=/home/deploy/web-projects/robolab-renderer-server

[Install]
WantedBy=multi-user.target
