[Unit]
Description=Robolab renderer backend (develop)

[Service]
Type=exec
Restart=always
User=deploy
ExecStart=nodemon packages/robolab-jsServer/kotlin/robolab-jsServer.js -c ../backend.ini
WorkingDirectory=/home/deploy/web-projects/robolab-renderer/develop/backend
StandardOutput=file:/home/deploy/web-projects/robolab-renderer/develop/logs/backend-output.log
StandardError=file:/home/deploy/web-projects/robolab-renderer/develop/logs/backend-error.log

[Install]
WantedBy=multi-user.target
